<div class="ds-disclaimer">
  <span class="ds-disclaimer__label">{{ resolvedLabel }}</span>
  <span class="ds-disclaimer__text">{{ text }}</span>
  @if (showClose) {
    <button
      class="ds-disclaimer__close-btn"
      type="button"
      (click)="closed.emit()"
      aria-label="Close disclaimer"
    >
      <svg class="ds-disclaimer__close-icon" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M12.59 3.41L11.17 2 8 5.17 4.83 2 3.41 3.41 6.59 6.59 3.41 9.76 4.83 11.17 8 7.99l3.17 3.18 1.42-1.41L9.41 6.59z"/>
      </svg>
    </button>
  }
</div>
