@if (!isDivided) {
  <button
    type="button"
    [class]="hostClass"
    [disabled]="disabled"
    [attr.aria-disabled]="disabled || null"
    [attr.aria-label]="iconOnly ? label : null"
    (click)="onMainClick($event)"
  >
    @if (hasLeading) {
      <span class="ds-button__icon ds-button__icon--leading" aria-hidden="true">
        @if (leadingIconTemplate) {
          <ng-container *ngTemplateOutlet="leadingIconTemplate"></ng-container>
        } @else {
          <span [innerHTML]="safeIcon"></span>
        }
      </span>
    }

    @if (!iconOnly) {
      <span class="ds-button__label">{{ label }}</span>
    }

    @if (hasCounter) {
      <span class="ds-button__counter">{{ counter }}</span>
    }

    @if (hasTrailing) {
      <span class="ds-button__icon ds-button__icon--trailing" aria-hidden="true">
        @if (trailingIconTemplate) {
          <ng-container *ngTemplateOutlet="trailingIconTemplate"></ng-container>
        } @else {
          <span [innerHTML]="safeTrailingIcon"></span>
        }
      </span>
    }

    @if (alertIndicator) {
      <span class="ds-button__alert" aria-hidden="true"></span>
    }
  </button>
} @else {
  <span [class]="hostClass" role="group">
    <button
      type="button"
      class="ds-button__main"
      [disabled]="disabled"
      [attr.aria-disabled]="disabled || null"
      [attr.aria-label]="iconOnly ? label : null"
      (click)="onMainClick($event)"
    >
      @if (hasLeading) {
        <span class="ds-button__icon ds-button__icon--leading" aria-hidden="true">
          @if (leadingIconTemplate) {
            <ng-container *ngTemplateOutlet="leadingIconTemplate"></ng-container>
          } @else {
            <span [innerHTML]="safeIcon"></span>
          }
        </span>
      }

      @if (!iconOnly) {
        <span class="ds-button__label">{{ label }}</span>
      }

      @if (hasCounter) {
        <span class="ds-button__counter">{{ counter }}</span>
      }

      @if (hasTrailing) {
        <span class="ds-button__icon ds-button__icon--trailing" aria-hidden="true">
          @if (trailingIconTemplate) {
            <ng-container *ngTemplateOutlet="trailingIconTemplate"></ng-container>
          } @else {
            <span [innerHTML]="safeTrailingIcon"></span>
          }
        </span>
      }
    </button>

    <button
      type="button"
      class="ds-button__divider"
      [disabled]="disabled"
      [attr.aria-disabled]="disabled || null"
      [attr.aria-label]="label + ' menu'"
      (click)="onDividerClick($event)"
    >
      <span class="ds-button__icon" aria-hidden="true">
        @if (dividerIconTemplate) {
          <ng-container *ngTemplateOutlet="dividerIconTemplate"></ng-container>
        } @else {
          <span [innerHTML]="safeDividerIcon"></span>
        }
      </span>
    </button>

    @if (alertIndicator) {
      <span class="ds-button__alert" aria-hidden="true"></span>
    }
  </span>
}
