<div [ngClass]="hostClasses">
  <label class="p-toggleswitch" [class.p-toggleswitch-checked]="on" [class.p-disabled]="disabled">
    <div style="border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;">
      <input type="checkbox" role="switch"
        [(ngModel)]="on"
        [disabled]="disabled"
        (ngModelChange)="handleChange({checked: $event})" />
    </div>
    <span class="p-toggleswitch-slider"></span>
  </label>
</div>
